[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/simple_bookmarks"]
	path = bundle/simple_bookmarks
	url = git@github.com:AndrewRadev/simple_bookmarks.vim.git
