[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/simple_bookmarks"]
	path = bundle/simple_bookmarks
	url = https://github.com/AndrewRadev/simple_bookmarks.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "bundle/gtags-cscope"]
	path = bundle/gtags-cscope
	url = https://github.com/tranngocthachs/gtags-cscope-vim-plugin.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/AnthonyARM/vim-airline.git
[submodule "bundle/CCTree"]
	path = bundle/CCTree
	url = https://github.com/AnthonyARM/CCTree.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/gtags"]
	path = bundle/gtags
	url = https://github.com/vim-scripts/gtags.vim
[submodule "bundle/vim-choosewin"]
	path = bundle/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule "bundle/incsearch"]
  path = bundle/incsearch.vim
  url = https://github.com/haya14busa/incsearch.vim
[submodule "bundle/vim-dispatch"]
  path = bundle/vim-dispatch
  url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-src"]
	path = vim-src
	url = https://github.com/vim/vim.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/sleuth"]
	path = bundle/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/MPage"]
	path = bundle/MPage
	url = https://github.com/vim-scripts/MPage.git
[submodule "bundle/vim-capnp"]
	path = bundle/vim-capnp
	url = https://github.com/cstrahan/vim-capnp.git
